<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application>
        <service
            android:name="expo.modules.guardianai.CallAnalysisService"
            android:exported="false" />
    </application>
</manifest>